<div class="todo">
        <div class="handle"></div>

        <div class="content">
            <div class="status-check-box">
                <div class="not-done check-box"></div>
                <div class="done check-box">
                    <img src="../assets/svg/check.svg" alt="">
                </div>
            </div>
            <input type="text" placeholder="Open Todo">
        </div>
        <div class="delete">
            <img src="../assets/svg/delete.svg" alt="">
        </div>
    </div>
