<app-header></app-header>

<!-- Todos Separator -->
<div class="list-container">
    <div (click)="toDoShow=!toDoShow" class="separator">open ( {{$todos.length}} )<br> 
        <div *ngIf="!toDoShow" class="triangle-down"></div>
        <div *ngIf="toDoShow" class="triangle-up"></div>
    </div>
    <hr>

    <div *ngIf="toDoShow" class="todo-elements-container" dragula="todos" [dragulaModel]="$todos" (dragulaModelChange)="$todos = $event">
        <!-- forward toDo to child component -->
        <!-- toDo$ from child component becomes toDo from Parent Component -->
        <!-- list component commits todo from $todos Array to todo component -->
        <app-todo [@inOutAnimation] class="todo-element" (ping)="update($event)" [toDo$]="todo" *ngFor="let todo of $todos"></app-todo>
    </div>
    <div>
        <app-todo-form (ping)="create($event)"></app-todo-form>
    </div>

<!-- Todos Done Separator -->
    <div (click)="toDoDoneShow=!toDoDoneShow" class="separator">done ( {{$todosdone.length}} )<br> 
        <div *ngIf="!toDoDoneShow" class="triangle-down"></div>
        <div *ngIf="toDoDoneShow" class="triangle-up"></div>
    </div>
    <hr>

    <div *ngIf="toDoDoneShow" class="todo-elements-container">
        <app-todo [@inOutAnimation] (ping)="update($event)" [toDo$]="todo" *ngFor="let todo of $todosdone"></app-todo>
    </div>
</div>