<app-header></app-header>

<!-- Todos Separator -->
<div class="list-container">
    <div class="separator">open ( 0 )<br> 
        <div class="triangle-down"></div>
    </div>
    <hr>

    <div class="todo-elements-container">
        <app-todo></app-todo>
        <app-todo></app-todo>
        <app-todo></app-todo>
    </div>
    <app-todo-form></app-todo-form>

<!-- Todos Done Separator -->
    <div class="separator">done ( 0 )<br> 
        <div class="triangle-down"></div>
    </div>
    <hr>

    <div class="todo-elements-container">
        <app-todo></app-todo>
    </div>
</div>